@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap");

:root{
	--primary-color: #12c2b9;
	--secondary: #dbfffe;
	--black: #141414;
	--white: #fff;
	--box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
	font-family: 'DM Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .2s linear;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar{
	width: 1rem;
}

html::-webkit-scrollbar-track{
	background: transparent;
}

html::-webkit-scrollbar-thumb{
	background: var(--primary-color);
}

section{
	padding: 5rem 7%;
}

.btn {
	position: relative;
	display: inline-block;
	margin-top: 1rem;
	color: var(--primary-color);
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
	max-width: max-content;
	border: .1rem solid var(--primary-color);
	background-color: var(--secondary);
	padding: 1.2rem 4.5rem;
	overflow: hidden;
	z-index: 1;
	border-radius: .5rem;
}

.btn::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 200%;
	height: 200%;
	border-radius: 50%;
	background-color: var(--primary-color);
	transition: 500ms ease;
	z-index: -1;
}

.btn .text {
	transition: 250ms ease;
}

.btn .text-2 {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: scaleX(-50%);
	max-width: max-content;
	color: var(--secondary);
}

.btn:is(:hover, :focus-visible)::before {
	bottom: -50%;
}

.btn:is(:hover, :focus-visible) .text-1 {
	transform: translateY(-4rem);
}

.btn:is(:hover, :focus-visible) .text-2 {
	top: 50%;
	transform: translate(-50%, -50%);
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: var(--white);
	box-shadow: var(--box-shadow);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
}

.header .logo {
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black);
}

.header .logo i {
	color: var(--primary-color);
	padding-right: .5rem;
}

.header .navbar a {
	font-size: 1.7rem;
	color: var(--black);
	margin: 0 1rem;
	padding-block: 1rem;
}

.header .navbar a:hover {
	color: var(--primary-color);
}

.header .navbar .hover-underline {
	position: relative;
	max-width: max-content;
}

.header .navbar .hover-underline::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.5rem;
	border-block: .1rem solid var(--primary-color);
	transform: scaleX(0.2);
	opacity: 0;
	transition: 500ms ease;
}

.header .navbar .hover-underline:is(:hover, :focus-visible)::after {
	transform: scaleX(1);
	opacity: 1;
}

.header .icons div {
	font-size: 2.5rem;
	margin-left: 1.7rem;
	color: var(--black);
	cursor: pointer;
}

.header .icons div:hover {
	color: var(--primary-color);
}

#menu-btn {
	display: none;
}

.header .login-form {
	position: absolute;
	top: 115%;
	right: -105%;
	background-color: var(--white);
	box-shadow: .5rem;
	width: 35rem;
	box-shadow: var(--box-shadow);
	padding: 2rem;
}

.header .login-form.active {	
	right: 2rem;
	transition: .4s linear;
}

.header .login-form h3 {
	font-size: 2.2rem;
	color: var(--black);
	text-align: center;
	margin-bottom: 0.7rem;
}

.header .login-form .box {
	font-size: 1.5rem;
	margin: .7rem 0;
	border: 0.1rem solid rgba(0, 0, 0, 0.1);
	padding: 1rem 1.2rem;
	color: var(--black);
	text-transform: none;
	width: 100%;
}

.header .login-form .remember {
	display: flex;
	align-items: center;
	gap: .5rem;
	margin: .7rem 0;
}

.header .login-form .remember label {
	font-size: 1.5rem;
	color: var(--black);
	cursor: pointer;
}

.home {
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url('../images/home.jpg') no-repeat;
	background-size: cover;
	background-position: center
}

.home .content {
	max-width: 50%;
}

.home .content h3 {
	font-size: 5rem;
	color: var(--white);
	line-height: 1.2;
}

.home .content p {
	font-size: 1.5rem;
	line-height: 2;
	color: var(--white);
	padding: 1rem 0;
}